@model User

<div class="text-center">

    <h1>Hello @Model.UserName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center border-2 bg-black">
    <a class="text-white" asp-action="Index" asp-controller="Employees">Add Employee</a>
</div>

